:root {
    --jp-primaryColor: rgb(245, 170, 193);
    --jp-secondaryColor: #A86378;
    --formFocusColor: var(--jp-secondaryColor);
    --formfocusShadowColor: rgba(255, 100, 172, 0.5);

}

.form-control:focus {
    border-color: var(--formFocusColor);
    box-shadow: 0 0 0 .25rem var(--formfocusShadowColor);
}

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.body {
    font-family: 'Montserrat', sans-serif;

}




.title {
    font-family: 'Pacifico', cursive;
}

/* defaults */
.header {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-color: salmon;
}

/* big image */
@media only screen and (min-width: 992px) {
    .header {
        background-image: url("/img/JillPrestonLarge.png");
        min-height: 400px;
    }
}

/* small image */
@media only screen and (min-width:576px) and (max-width: 991px) {
    .header {
        background-image: url("/img/JillPrestonSmall.png");
    }
}